


//base.sass



//general font -> Google Open Sans
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800')

//colors

$black: #000
$white: #fff

//general styling
html, body
	font-family: 'Open Sans', sans-serif

h1, h2, h3, h4, h5, h6, p
	margin: 0
	padding: 0

ul
	list-style-type: none
	margin: 0
	padding: 0

*
	box-sizing: border-box

a
	text-decoration: none
	color: $black


